:root{
    --header-color:#666;
    --font-color-grey:#444;
    --font-color-black:#222;
    --button-color-green:#21c531;
    --font-color-white:#fafafa;
    --background-color:#fff;
    --background-color-gray:#eef0f3;
}

html{
    font-family: -apple-system,BlinkMacSystemFont,"Helvetica Neue",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji",NotoColorEmoji,"Segoe UI Symbol","Android Emoji",EmojiSymbols;
}

header {
    display: flex;
    justify-content: space-between;
    /* 위에꺼 옆으로 간격을 두겠다라는 의미 */
    align-items: center;  
    /* 기준점을 두고 가운데 정렬? */
    height: 68px;
    background-color: #f6f8fa;
}

.band-logo {
    background-image: url(../img/band/spr_intro.png);
    width: 78px;
    height: 31px;
    background-size: 231px auto;
    background-position: 0 -96px;
    margin: 17px 0 0 17px;
}

.header-nav {
    position: absolute;
    right: 30px;
    top: 14px;
}

.header-nav li {
    display: inline-block;
    position: relative;
    padding-right: 13px;
    margin-top: 7px;
    color: #222;
    text-decoration: none;
}

.header-nav a {
    color: #222;
    text-decoration: none;
    display: inline-block;
    margin: 7px 0 0 27px;
    vertical-align: top;
    font-size: 14px;
}

.header-nav button {
    font-size: 14px;
    font-weight: 700;
    color: #fafafa;
    display: inline-block;
    height: 35px;
    margin: 0 0 0 26px;
    padding: 0 23px;
    border-radius: 2px;
    background-color: #21c531;
    line-height: 35px;
    border: none; 
    /* border 검은테두리 생겨서 none로 바꿔줌! */
}

#intro {
    display: flex;
    width: 1000px;
    margin: 0 auto;
    padding-top: 76px;
    background-color: #f6f8fa;
}

.intro-box {
    background-color: #f6f8fa;
    display: flex;
}
.intro-left-img {
    -webkit-box-flex: 0;
    flex: 0 0 auto;
    width: 540px;
    height: 695px;
    margin-right: 50px;
    background: url(../img/band/bg_sloganImg.jpg) no-repeat;
    background-size: 540px auto;
}

.intro-right-box {
    -webkit-box-flex: 0;
    flex: 0 1 auto;
    overflow: hidden;
    padding-bottom: 60px;
    width: 354px;
    width: 100%;
}

.intro-right {
    margin-top: 122px;
    font-size: 48px;
    font-weight: 500;
    color: #222;
    letter-spacing: -1px;
    line-height: 1.21;
}

.intro-right-box p {
    font-size: 16px;
    font-weight: 400;
    color: #444;
    margin-top: 13px;
}

.more {
    display: flex;
}

.login-box {
    margin-top: 18px;
    display: flex;
    flex-wrap: wrap;
    width: 340px;
}

.login-box a {
    display: block;
    width: 100%;
    height: 54px;
    border-radius: 2px;
    background-color: #21c531;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    line-height: 54px;
    color: #fff;
}

.login-box a.join {
    margin-top: 12px;
    border: 1px solid #ebebeb;
    background-color: #fff;
    color: #333;
}

.more-link {
    font-size: 13px;
    font-weight: 400;
    color: #444;
    margin-top: 36px;
}

.more-link+.more-link {
    margin-top: 20px;
}

.more-link a {
    font-size: 13px;
    font-weight: 700;
    color: #2ecc71;
    margin-left: 10px;
    text-decoration: underline;
    display: inline;
    /* 디스플레이 인라인 이거 뭔지 다시 공부하기!!!
    인라인은 글자취급 블럭은 도형같이 틀 취급 인라인박스는 글자플러스도형!! */
}

.main-title {
    background-image: url(../img/band/bg_intro.jpg);
    background-color: #fff;
    position: relative;
    display: flex;
    height: 540px;
    background-size: cover;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    background-position-x: 50%;
    background-position-y: 50%;
}

.main-title h2 {
    font-size: 42px;
    font-weight: 500;
    text-shadow: 0 1px 1px rgb(0 0 0 / 11%);
    color: #fff;
    letter-spacing: -1px;
}

.main-title p {
    width: 650px;
    margin: 18px auto 0;
    font-size: 16px;
    font-weight: 500;
    color: #fff;
    line-height: 1.63;
}

.main-category-wrapper {
    padding: 60px 0;
    text-align: center;
    display: flex;
    justify-content: space-between;
    width: 1000px;
    margin: 0 auto;
    padding-bottom: 100px;
}

.main-category-wrapper li {
    display: inline-block;
    width: 300px;
    height: 160px;
    vertical-align: top;
    text-align: left;
}

.main-category-wrapper img {
    width: 300px;
    height: 160px;
}

.main-category-wrapper text {
    overflow-wrap: normal;
    word-break: break-word;
    margin-top: 16px;
}
h3 {
    font-size: 24px;
    font-weight: 500;
    color: #222;
}

.main-category-wrapper p {
    font-size: 15px;
    font-weight: 400;
    color: #444;
    margin-top: 6px;
    line-height: 1.6;
}

.main-category-wrapper figure {
    margin-bottom: 16px;
}

.main-category-wrapper text {
    overflow-wrap: normal;
    word-break: break-word;
    margin-top: 16px;
}
#category-section {
    background: #eef0f3;
    margin-top: 46px;
    box-sizing: border-box;
}

.category-box {
    position: relative;
}

.category-frame {
    width: 1000px;
    margin: 0 auto;
}

.title-box {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    justify-content: space-between;
}

h4 {
    font-size: 24px;
    color: #222;
    -webkit-box-flex: 0;
    flex: 0 0 auto;
    margin-top: 46px;
}

.category{
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 25px 0 24px;
}

.category li{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 500px;
    height: 101px;
    margin-bottom: 25px;
}

.img figure{
    display: inline-block;
    position: relative;
    vertical-align: top;
    width: 93px;
    height: 93px;
}