.header-inner {
    position: relative;
    min-width: 1000px;
    display: -webkit-box;
    display: flex;
    height: 68px;
    background-color: #f6f8fa;
}

.header-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-right: 17px;
}

.header-nav>a {
    color: var(--header-color);
    margin: 5px;
    font-size: 14px;
    font-weight: 400px;
}

.intro-left-img {
    background-image: url(../img/band/bg_sloganImg.jpg);
    display: flex;
    width: 540px;
    height: 695px;
    margin-right: 50px;
    background-size: 540px auto;
}