* {
    margin: 0;
    padding: 0;
}
.box {
    width: 200px;
    height: 200px;
    position: relative;
    background-color: gray;
}

/* 예제 4가지 문제 만든거 스앵님 깃링크 가서확인하고 연습하기!!!
                                                2020.05.13 */