/* 웹 폰트찾기 눈누 or 구글 폰트 */

@font-face {
    font-family:  Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', sans-serif;
    src: url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');
    font-style: normal;
}

html {
    font-family: 'Pretendard';
}
 * {
     box-sizing: border-box;
 }
header {
    max-width: 1160px;
    margin: 0 auto;
    padding: 0.5%;
    position: relative;
    align-items: center;
    display: flex;
    height: 71px;
    justify-content: space-between;
}

.main-title {
    background-image: url(../img/discode/메인위.png);
    background-position: center;
    background-size: cover;
    height: 300px;
    padding: 0 20px;
    text-align: center;
    width: 100%;
    margin-bottom: 40px;
}

.main-title-heading {
    font-size: 36px;
    line-height: 44px;
    color: white;
    font-weight: 700;
    margin: 0 0 20px;
    padding: 35px 0 0 0;
    text-align: center;
}

.intro-title {
    margin-top: 104px;
    font-size: 26px;
    font-weight: 400;
    line-height: 100%;
    margin-bottom: 0;
    text-align: center;
    line-height: 1.5;
}

.intro-contents {
 font-size: 16px;
 font-weight: 400;
 margin-top: 20px;
 margin-bottom: 75px;
 text-align: center;
}

.class-category {
    padding-left: 5px;
    padding-right: 5px;
    margin: 0;
    list-style: none;
}

.category-boxes {
    font-size: 22px;
    font-weight: 400;
    color: #5865F2;
    margin-top: 116px;
}

.category-boxes-contents {
    font-size: 14px;
    font-weight: 400;
    width: 200px;
    margin: -10px auto 0;
    color: #68727e;
}
