/* 웹 폰트찾기 눈누 or 구글 폰트 */

@font-face {
    font-family:  Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', sans-serif;
    src: url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');
    font-style: normal;
}

html {
    font-family: 'Pretendard';
}
 * {
     box-sizing: border-box;
 }
header {
    max-width: 1160px;
    margin: 0 auto;
    padding: 0.5%;
    position: relative;
    align-items: center;
    display: flex;
    height: 71px;
    justify-content: space-between;
}

.main-title {
    background-image: url(../img/discode/메인위.png);
    background-position: center;
    background-size: cover;
    height: 300px;
    padding: 0 20px;
    text-align: center;
    width: 100%;
    margin-bottom: 40px;
}

.main-title-heading {
    font-size: 36px;
    line-height: 44px;
    color: white;
    font-weight: 700;
    margin: 0 0 20px;
    padding: 35px 0 0 0;
    text-align: center;
}

.intro-title {
    margin-top: 104px;
    font-size: 26px;
    font-weight: 400;
    line-height: 100%;
    margin-bottom: 0;
    text-align: center;
    line-height: 1.5;
}

.intro-contents {
 font-size: 16px;
 font-weight: 400;
 margin-top: 20px;
 margin-bottom: 75px;
 text-align: center;
}

.class-category {
    padding-left: 5px;
    padding-right: 5px;
    margin: 0;
    list-style: none;
}
.class-category-wrap {
    padding-left: 5px;
    padding-right: 5px;
    margin: 0;
    list-style: none;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 100%
}

.category-boxes {
    font-size: 22px;
    font-weight: 400;
    color: #5865F2;
    margin-top: 116px;
    line-height: 33px;
    text-align: center;
}

.category-boxes-contents {
    font-size: 14px;
    font-weight: 400;
    width: 200px;
    margin: -10px auto 0;
    padding: 5px;
    color: #68727e;
    line-height: 21px;
    text-align: center;
}

.pre {
    font-family: monospace;
    font-size: 1em;
    display: block;
    white-space: pre;
}

.class-category-wrap li {
    background-repeat: no-repeat;
    background-size: 106px;
    background-position: center 14px;
    width: 240px;
    height: 260px;
    margin: 10px;
    background-color: white;
}

.class-category hr {
    height: 1px;
    border: none;
    background-color: #99aab5;
    opacity: .5;
    width: 50px;
    margin: -6px auto 20px;
}

.known-issues {
    background-image: url(../img/discode/확성기.svg);
}

.discord-interface {
    background-image: url(../img/discode/사이트창.svg);
}

.account-settings {
    background-image: url(../img/discode/톱니바퀴.svg);
}

.text-chat {
    background-image: url(../img/discode/메신저.svg);
}

.server-setup {
    background-image: url(../img/discode/조절기.svg);
}

.community-programs {
    background-image: url(../img/discode/육각형.svg);
}

.store {
    background-image: url(../img/discode/안내소.svg);
}

.billing {
    background-image: url(../img/discode/메모\ 서류.svg);
}

.trust-safety {
    background-image: url(../img/discode/방패.svg);
}

.faq {
    background-image: url(../img/discode/돋보기.svg);
}

.more-help {
    font-size: 22px;
    text-align: center;
<<<<<<< HEAD
    font-weight: 400;
    line-height: 33px;
    margin-bottom: 18.3;
    margin-top: 60px;
    margin-left: 50px;
}

.flex-container {
    padding-left: 5px;
    padding-right: 5px;
    margin: 0;
    list-style: none;
    flex-flow: row wrap;
    justify-content: center;
    width: 100%;
    display: flex;
    margin: 10px;
}

.hclogo {
    background-image: url(../img/discode/디스코드아이콘.svg);
    background-repeat: no-repeat;
    background-size: 106px;
    background-position: center 14px;
    background-color: #ccc;
    width: 260px;
    height: 260px;
    padding: 5px;
    margin: 10px;
=======
}


.hclogo {
    background-image: url(../img/discode//디스코드아이콘.svg);
>>>>>>> 4c8b4e9fb0b9cdde80afb6dfb2dfa1d2283daf75
}

.twitter {
    background-image: url(../img/discode/핸드폰.svg);
<<<<<<< HEAD
    background-repeat: no-repeat;
    background-size: 106px;
    background-position: center 14px;
    background-color: #ccc;
    width: 260px;
    height: 260px;
    padding: 5px;
    margin: 10px;
}
=======
}s
>>>>>>> 4c8b4e9fb0b9cdde80afb6dfb2dfa1d2283daf75
