:root {
    --main-color: #0bb8ff

}

header {
    position: fixed;
    width: 100%;
    height: 60px;
    /* float 로 하면은 밑에 세개는 작성안해두된다 대신 뒤에 몇개 수정해줘야한다*/
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 figure {
    position: relative;
    width: 112px;

}